{{ partial "main_header.html" . }}
        <div class="pad2y limiter content notitle">
            <div class=body>
                <div class=project-box>
                    <a href=/works/db*N/ class=project><img alt="" src=/works/db*N/portada2.jpg> <strong>db*N</strong> <span>Ain't No Data Big Enough</span></a>
                    <a href=/works/rc4cygwin/ class=project><img alt="" src=/works/rc4cygwin/plan9bunnywhite2.jpg> <strong>rc4cygwin</strong> <span>original rc shell on cygwin</span></a>
                    <a href=/works/metropolis/ class=project><img alt="" src=/works/metropolis/metropolis3.jpg> <strong>Metropolis</strong> <span>Manhattan on a bright sunny day</span></a>
                    <a href=/works/bepp/ class=project><img alt="" src=/works/bepp/peterpan.jpg> <strong>BePP</strong> <span>Peter Pan by another name</span></a>
                </div><br></div>
{{ partial "main_footer.html" . }}
 